extends layout
block content
    h1= title
    form(id='bankForm', action="/resource/Bank", method="POST")
        div.form-group
            label.BankAttr(for='Bank_Name') Bank name
            input#Bank_Name(type='text', name='Bank_Name')
        div.form-group
            label.BankAttr(for='Bank_Branch') Bank Branch
            input#Bank_Branch(type='text', name='Bank_Branch')
        div.form-group
            label.BankAttr(for='Bank_Code') Bank_Code
            input#Bank_Code(type='text', name='Bank_Code')
        input(type="submit")
    script.
        document.forms['bankForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
            method: 'POST',
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
         return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
         alert("Save succeded")
          // TODO handle body
        }).catch((error) => {
        // TODO handle error
         alert("Save failed " + error )
        });
      });