extends layout
block content
    h1= title
    if(toShow==null)
        h2 no instance found
    else
        - let bankid = toShow._id
        - let Bank_Name = toShow.Bank_Name
        - let Bank_Branch = toShow.Bank_Branch
        - let Bank_Code = toShow.Bank_Code
        div.row(class='mb-2')
            div.mr-1 ID is
            div #{bankid}
        - let actionid = "/resource/Bank/" + bankid
        form(id='bankForm', action= actionid, method="PUT")
            div.form-group
                label.BankAttr(for='Bank_Name') Bank name
                input#Bank_Name(type='text', name='Bank_Name', value= Bank_Name )
            div.form-group
                label.BankAttr(for='Bank_Branch') Bank Branch
                input#Bank_Branch(type='text', name='Bank_Branch', value= Bank_Branch )
            div.form-group
                label.BankAttr(for='Bank_Code') Bank_Code
                input#Bank_Code(type='text', name='Bank_Code', value= Bank_Code )
            input(type="submit")
        script.
            document.forms['bankForm'].addEventListener('submit', (event) => {
                event.preventDefault();
                // TODO do something here to show user that form is being submitted
                fetch(event.target.action, {
                    method: 'PUT',
                    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
                }).then((resp) => {
                    return resp.json(); // or resp.text() or whatever the server sends
                }).then((body) => {
                    alert("Update succeded")
                // TODO handle body
                }).catch((error) => {
                // TODO handle error
                    alert("Update failed " + error )
                });
            });